/* Estilos para calendario */

.left {
  float: left;
}

.right {
  float: right;
}

.calendar .btn {
  outline: none;
  color: black;
  background-color: #184008;
  box-shadow: 0 0 0 0;
  margin-right: 3px;
}
.calendar .btn a {
  color: white; /* Cambia el color del texto dentro del botón a blanco */
}

.clearfix {
  margin: 15px;
}

.form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}


/* App styles */
.title {
  text-align: center;
  margin: 10px;
}

.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
  border-collapse: collapse; /* Agrega esta propiedad para colapsar los bordes de la tabla */
}

.calendar tr{
  border: 1px solid black;  /*Agrega un borde inferior a cada fila */
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid black; /* Agrega un borde inferior a cada encabezado de columna */
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
  border-right: 1px solid black; /* Agrega un borde derecho a cada celda */
  border-bottom: 1px solid black; /* Agrega un borde inferior a cada celda */
}

.month {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}